{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="game-container">

    <div class="row mb-2">
        <div class="col">
            <h1>Email Addresses</h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            {% if emailaddresses %}
            <p>The following email addresses are associated with your account:</p>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">

            <form action="{% url 'account_email' %}" method="post">
                {% csrf_token %}

                {% for emailaddress in emailaddresses %}
                    <div class="mb-4">
                        <input type="radio" name="email" value="{{ emailaddress.email }}" 
                               id="email_{{ forloop.counter }}" {% if emailaddress.primary %}checked{% endif %}>
                        {{ emailaddress.email }}<br>
                        <label for="email_{{ forloop.counter }}">
                            

                            {% if emailaddress.verified %}
                                <span class="text-success">Verified</span>
                            {% else %}
                                <span class="text-warning">Unverified</span>
                            {% endif %}
                            {% if emailaddress.primary %}
                                <strong>(Primary)</strong>
                            {% endif %}
                        </label>

                    </div>
                {% endfor %}
        
                <div><button type="submit" name="action_primary" class="btn">Make Primary</button></div>
                <div><button type="submit" name="action_send" class="btn">Re-send Verification</button></div>
                <div><button type="submit" name="action_remove" class="btn delete-button">Remove</button></div>

            </form>
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="col">
            {% else %}
            {% include "account/snippets/warn_no_email.html" %}
            {% endif %}
        </div>
    </div>

{% if can_add_email %}                
    <div class="row mb-2">
        <div class="col">
            <h2>Add An Email Address</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form action="{% url 'account_email' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="action_add" class="btn">{% trans "Add Email" %}</button>
            </form>
        </div>
    </div>

{% endif %}

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var removeButtons = document.querySelectorAll(".delete-button");
        removeButtons.forEach(function(button) {
            button.addEventListener("click", function(event) {
                if (!confirm("{% trans 'Do you really want to remove the selected email address?' %}")) {
                    event.preventDefault();
                }
            });
        });
    });
</script>

{% endblock content %}