{% extends "base.html" %}
{% load allauth account %}
{% block content %}

<div class="game-container">

    <div class="row">
        <div class="col mb-2">
            <h1>Sign In</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
          <p>If you have not created an account yet, <br>then please <a href="{{ signup_url }}">sign up</a> first.</p>  
        </div>
    </div>


    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.non_field_errors | safe }}
                <input type="hidden" name="remember" value="true" />
            
                <div>
                    <div class="mb-2">
                        {{ form.login.errors | safe }}
                        <label for="id_login" class="sr-only">Username or email</label>
                        {{ form.login }}
                    </div>
                    <div class="mb-2">
                        {{ form.password.errors | safe }}
                        <label for="id_password" class="sr-only">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="mb-2">
                        {{ form.remember.errors | safe }}
                        <label for="id_remember">Remember Login</label>
                        {{ form.remember }}
                    </div>
                    <div class="mb-2">
                        <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>
                    <div>
                        <button type="submit" tags="prominent,login" class="btn">Sign In</button>
                    </div>
                
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}