{% extends "base.html" %}
{% block content %}

<div class="game-container">

    <div class="row">
        <div class="col mb-2">
            <h1>Sign Out</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Are you sure you want to sign out?</p>  
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'account_logout' %}" no_visible_fields=True>
                {% csrf_token %}
                {{ redirect_field }}
                <button type="submit" class="btn">Sign Out</button>
            </form>  
        </div>
    </div>
</div>
{% endblock content %}
