{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}


{% block content %}

<div class="game-container">

    <div class="row mb-2">

        <div class="col">
            <h1>Password Reset</h1>
        </div>

    </div>

    <div class="row">

        {% if user.is_authenticated %}
        <div class="col">    
        {% include "account/snippets/already_logged_in.html" %}
        </div>
        {% endif %}

        <div class="col">
            <p>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
        </div>

    </div>




{% endblock content %}
