{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container game-container mb-5">

    <div class="row">
        <div class="col-12">
            <a href="{% url 'genres' %}">Back</a>
        </div>
    </div>

    <div class="row text-center mb-4">
        <div class="col-12">
            <h1>{{ genre }} Films</h1>
        </div>
    </div>
    <hr>
{% for film in films %}
    <div class="row mb-2">
        
        <div class="col-2 text-end">
            <p class="username-font">{{ forloop.counter }}</p>
        </div>
        <div class="col-10">
            <a href="{% url 'film_detail' genre.id film.id %}" class="username-font">{{ film.title }}</a><br>
            <em>{{ film.director }}&nbsp;({{ film.year }})&nbsp;{{ film.origin }}</em>
        </div>
       
    </div>
    <hr>
 {% endfor %}
</div>







{% endblock %}