{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container game-container flex-column align-items-center justify-content-center text-center">

  <div class="row">

    <div class="col-12 mb-2">
      <h2 class="menu-font">SURVIVORS</h2>
    </div>

  </div>
  <hr>

  {% for user in users %}
        <div class="row">

            <div class="col username-font">
                {{ forloop.counter }}.&nbsp;
                {{ user.username }}{% if user.userdata.nationality %}
                            <img src="{{ user.userdata.nationality.flag }}" alt="{{ user_data.nationality }} flag">
                        {% endif %}
                    <img src="{{ user.userdata.user_icon.icon.url }}" alt="Player icon" class="player-icon">
            </div>

            <div class="col text-start">
                        
                Played: {{ user.games_played }}<br>
                Survived: {{ user.games_won }}<br>
                Died: {{ user.games_lost }}<br>
                Avg Score: {{ user.avg_score|floatformat:1 }}<br>
            </div>

        </div>
<hr>        
  {% endfor %}


</div>
{% endblock %}