{% load static %}

<!-- SELECT GAME GENRE -->
<div class="row select-game flex-column align-items-center justify-content-center text-center mb-5" id="select-game">

    <div class="col-12 mb-2">
        <h2>SELECT GAME GENRE</h2>
    </div>

    {% for genre in genres %}
    <div class="col-12 genre-btn mb-4 d-flex flex-column align-items-center justify-content-center" data-creature="{{ genre.creature_name }}">
        <button class="btn main-menu-btn genre-select-btn" data-genre="{{ genre }}">{{ genre }}</button>
    </div>
    {% endfor %}
    
</div>

<!-- SELECT GAME DIFFICULTY -->
<div class="row select-difficulty flex-column align-items-center justify-content-center text-center mb-5 hidden" id="select-difficulty">
    <div class="col-12 mb-2">
        <h2>SELECT DIFFICULTY</h2>
    </div>

    <div class="col-12">
        <button class="btn main-menu-btn diff-select-btn hidden"data-diff="easy">EASY</button>
        <button class="btn main-menu-btn diff-select-btn"data-diff="normal">NORMAL</button>
        <button class="btn main-menu-btn diff-select-btn hidden" data-diff="hard">HARD</button>
    </div>
        
</div>

<!-- GAME START -->

<div class="row hidden p-0" id="image-box">
    <div class="col-12 p-0 text-center">
        <img src="{% static 'images/creatures/zombie_0.webp' %}" alt="Creature Approaching" id="creature-view">
    </div>
</div>

<div class="row counters p-0">
    <div class="col-6 text-start">
        <p class="ps-2" id="life-counter"></p>
    </div>
    <div class="col-6 text-end">
        <p class="pe-2 text-warning" id="score-counter"></p>
    </div>
</div>

<div class="row dialogue-box hidden" id="dialogue-box">
    <div class="col-12 quiz-text"><h1 id="dialogue-header">Dialogue Header</h1></div>
    <div class="col-12 quiz-text mb-4">
        <p id="dialogue-text">
            Dialogue Text
        </p>
    </div>
    <div class="col-12 text-center">
        <button class="btn main-menu-btn" id="continue-btn">Continue</button>
    </div>
</div>


<div class="row quiz-box hidden" id="quiz-box">
    <div class="col-12 quiz-text pt-2"><h1 id="question-header">Question</h1></div>
    <div class="col-12 quiz-text"><p id="question-text">question text</p></div>
    <div class="mt-2">
        <div class="col-12 text-center">
            <button class="btn quiz-btn" id="option_a">option_a</button>
        </div>
        <div class="col-12 text-center">
            <button class="btn quiz-btn" id="option_b">option_b</button>
        </div>
        <div class="col-12 text-center">
            <button class="btn quiz-btn" id="option_c">option_c</button>
        </div>
        <div class="col-12 text-end mt-2">
            <button class="btn" id="flag-btn"><i class="fa-solid fa-flag"></i></button>
            
        </div>
    </div>

</div>

<div class="row hidden text-center" id="results-box">
    <div class="col-12 quiz-text mb-2">
        <h1 id="info-header">Game Over</h1>
        <p id="info-box"></p>
    </div>
    <div class="col-12">
        <button class="btn main-menu-btn mb-2" id="restart-btn">REPLAY</button>
    </div>
    <div class="col-12">
        <a class="btn main-menu-btn" href="{% url 'index' %}">RETURN TO TITLE</a>
    </div>
</div>