{% load static %}

<div class="row visual-box mb-2">
    <div class="tv-screen"></div>
    <div class="health-bar"></div>
</div>


<div class="row quiz-box">
    <div class="col-12 quiz-text"><h1>Question 1</h1></div>
    <div class="col-12 quiz-text"><p>"They're coming to get you Barbra" is a line from which film?</p></div>
    <div class="">
        <div class="col-12 text-center">
            <button class="btn quiz-btn">Night of the Living Dead (1968)</button>
        </div>
        <div class="col-12 text-center">
            <button class="btn quiz-btn">Shaun of the Dead (2004)</button>
        </div>
        <div class="col-12 text-center">
            <button class="btn quiz-btn">Dawn of the Dead (1978)</button>
        </div>
    </div>
   

</div>