/* Welcome to the CSS file */

/* Importing League Gothic Font for the title from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* Styling the body */
body {
	width: 100vw;
	background-color: #1b1464;
	background-image: linear-gradient(to bottom right, #1b1464, #000000);
	background-attachment: fixed;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
}

/* Setting font and size of all h1 elements */
h1, h2 {
	font-family: 'League Gothic', sans-serif;
}

.hidden {
	display: none;
}

.title-font {
	font-size: 3.5rem;
}

.menu-font {
	font-size: 2.5rem;
}

nav {
	background-color: #000000;
}

.msg-box {
	position: fixed;
	top: 64px;
}

footer {
	background-color: #000000;
}

.content-box {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	height: 100vh;
	width: 100vw;
}

.game-container {
	width: 300px;
	border: 1px dashed #ffffff;
	padding: 5px;
}

.btn {
	color: #ffffff;
	background-color: #000000;
	margin: 5px;
	cursor: pointer;
}

.btn:focus {
	color: #198754;
	outline: none;
	box-shadow: none;
}

.msg-btn {
	color: #ffffff;
	background-color: transparent;
	border: transparent;
}

.btn:hover, .msg-btn:hover {
	color: #198754;
}

.main-menu-btn {
	font-family: 'League Gothic', sans-serif;
	font-size: 1.5rem;
	width: 200px;;
}

.main-menu-btn:focus, .main-menu-btn:hover {
	font-size: 1.6rem;
}

/* Modal background (hidden by default) */
.modal {
    display: none; /* Hidden initially */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}

/* Modal content */
.modal-content {
    background-color: #000000;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

/* Menu/Close buttons */
#menu-btn {
	display: block;
}
#close-btn {
	display: none;
}
