{% load static %}
<!-- Modal Container -->
<div id="menu-modal" class="modal">

    <div class="container modal-content">
        
        <div class="row mb-2">
            <div class="col">
                <h2 class="menu-font">ESCAPE MENU</h2>
            </div>
        </div>
{% if user.is_authenticated %}
        <hr>
        
        <div class="row">

            <div class="col-12 username-font">
                        {{ user }}
                        {% if user_data.nationality %}
                            <img src="{{ user_data.nationality.flag }}" alt="{{ user_data.nationality }} flag">
                        {% endif %}
            </div>

        </div>

        <div class="row player-info">

            <div class="col-12">
                    <img src="{% static icon_url %}" alt="Player icon" class="player-icon">    
            </div>

        </div>
        
        {% endif %}
        <hr>

        <div class="row mb-2">{% if user.is_authenticated %}
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'account_logout' %}">LOG OUT</a>
            </div>
            {% else %}
            <div class="col-12">
                <p><small>[Not logged in.]</small></p>
                <a class="btn main-menu-btn" href="{% url 'account_login' %}">LOG IN/REGISTER</a>
            </div>
            {% endif %}
        <div class="col hidden">
            <button class="btn main-menu-btn" id="info-btn">ABOUT THE GAME</button>
        </div>

        <div class="col">
            <a class="btn main-menu-btn" href="{% url 'view_profile' %}" id="profile-btn">MY PROFILE</a>
        </div>
        
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'index' %}">RETURN TO TITLE</a>
            </div>
            {% if user.is_staff %}
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'workshed' %}">ADMIN</a>
            </div>
            {% endif %}
        </div>
        <hr>
    </div>
</div>