{% load static %}
<!-- Modal Container -->
<div id="menu-modal" class="modal">

    <div class="container modal-content">
        
        <div class="row mb-2">
            <div class="col">
                <h2 class="menu-font">ESCAPE MENU</h2>
            </div>
        </div>

        <hr>
        
        <div class="row">

            <div class="col-12 username-font">
                {% if user.is_authenticated %}
                        {{ user }} {% else %} Guest {% endif %}
                        {% if user_data.nationality %}
                            <img src="{{ user_data.nationality.flag }}" alt="{{ user_data.nationality }} flag">
                        {% endif %}
            </div>

        </div>

        <div class="row player-info mb-2">

            <div class="col-12">
                <a href="{% url 'view_profile' %}">
                    <img src="{% if user.is_authenticated %}{{ user_data.user_icon.icon.url }}{% else %}{{ default_icon.icon.url }}{% endif %}" alt="Player icon" class="player-icon">
                </a> 
            </div>

        </div>
        
        
        <hr>

        <div class="row mb-2">{% if user.is_authenticated %}
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'account_logout' %}">LOG OUT</a>
            </div>
            {% else %}
            <div class="col-12">
                <a class="btn main-menu-btn" href="{% url 'account_login' %}">LOG IN/REGISTER</a>
            </div>
            {% endif %}
        <div class="col hidden">
            <button class="btn main-menu-btn" id="info-btn">ABOUT THE GAME</button>
        </div>
{% if user.is_authenticated %}
        <div class="col">
            <a class="btn main-menu-btn" href="{% url 'view_profile' %}" id="profile-btn">MY ACCOUNT</a>
        </div>
        {% endif %}
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'survivors' %}">SURVIVOR LIST</a>
            </div>
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'genres' %}">FILM DATABASE</a>
            </div>
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'index' %}">RETURN TO TITLE</a>
            </div>
            {% if user.is_staff %}
            <div class="col">
                <a class="btn main-menu-btn" href="{% url 'admin:index' %}" target="_blank">ADMIN</a>
            </div>
            {% endif %}
        </div>
        <hr>
    </div>
</div>