{% if messages %}
<div class="container-fluid" id="msg-container">
    
    <div class="row">
        <div class="col-12">
{% for message in messages %}
            <div class="alert alert-dismissible fade show text-center" role="alert">
                &quot;{{ message | safe }}&quot;
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa-regular fa-circle-xmark"></i></button>
            </div>
{% endfor %}
        </div>
    </div>
</div>
{% endif %}