{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container game-container">

    <div class="row mb-2">
            <div class="col">
                <h2 class="menu-font">MY ACCOUNT</h2>
            </div>
        </div>

        <hr>

{% if user.is_authenticated %}

        <div class="row mb-4">

            <div class="col-6 username-font">
                USERNAME:
            </div>
            <div class="col-6 username-font">
                {{ user.username }}
            </div>
            
        </div>

        <hr>

        <div class="row">
            <div class="col-6 username-font">
                ICON:
            </div>
            <div class="col-6">
                    <img src="{% static icon_url %}" alt="Player icon" class="player-icon">    
            </div>
        </div>

        <hr>

        <div class="row mb-2">
            <div class="col-6 username-font">
                BIO:
            </div>
            <div class="col-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ user_data.bio }}
            </div>
        </div>

        <hr>

            <div class="row">

                <div class="col">
                    <a class="btn main-menu-btn" href="{% url 'account_email' %}">Manage Email</a>
                </div>

                <div class="col">
                    <a class="btn main-menu-btn" href="{% url 'account_change_password' %}">Change Password</a>
                </div>

            </div>
{% endif %}
</div>
{% endblock %}