<!-- Connect to Static file Directory -->
{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <title>TRIVIA SURVIVOR</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Trivia Survivor, use your knowledge of movie trivia to escape the creature.">
    <meta name="keywords" content="Trivia, Survivor, movie, horror-movie, quiz, zombie">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/5216db6454.js" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    
</head>

<body>

    <header>
        {% include 'includes/nav.html' %}

        <!-- Displaying Django message alerts -->
        <div class="container-fluid msg-box">
            <div class="row justify-content-center">
                <div class="col-12">
                    {% for message in messages %}
                    <div id="msg" class="alert {{ message.tags }}" role="alert">
                        <i class="fa-solid fa-message"></i>&nbsp;&nbsp;&nbsp;&nbsp;&quot;{{ message | safe }}&quot;
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </header>

    <div class="content-box">
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'includes/footer.html' %}
    
</body>

</html>