/* Welcome to the CSS file */

/* Importing League Gothic Font for the title from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

/* Styling the body */
body {
	background-color: #1b1464;
	background-image: linear-gradient(to bottom right, #1b1464, #000000);
	background-attachment: fixed;
	color: #ffffff;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Courier New', monospace;
}

/* Setting font and size of all h1 elements */
h1, h2 {
	font-family: 'League Gothic', sans-serif;
}

.username-font {
	font-family: 'League Gothic', sans-serif;
	font-size: 1.5rem;
}

.hidden {
	display: none;
}

.title-font {
	font-family: 'League Gothic', sans-serif;
	font-size: 1.7rem;
}

.menu-font {
	font-size: 2.5rem;
}

.green {
	color: #198754;
}

nav {
	background-color: #000000;
	height: 60px;
}

#msg-container {
	position: fixed;
	top: 70px;
	padding-top: 5px;
}

.alert {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	border: 1px solid #555555;
}

.content-box {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	min-height: 100vh;
	width: 100%;
	padding-top: 65px;
}

.game-container {
	width: 325px;
	padding: 5px;
}

.btn {
	font-family: 'League Gothic', sans-serif;
	font-size: 1.25rem;
	color: #ffffff;
	background-color: #000000;
	margin: 5px;
	cursor: pointer;
}

.btn-close {
	color:#ffffff;
}

.btn:focus {
	color: #198754;
	outline: none;
	box-shadow: none;
}

.btn:hover, .msg-btn:hover {
	color: #198754;
}

.main-menu-btn {
	font-family: 'League Gothic', sans-serif;
	font-size: 1.5rem;
	width: 200px;
}

.main-menu-btn:focus, .main-menu-btn:hover {
	font-size: 1.6rem;
}

/* Modal background (hidden by default) */
.modal {
    display: none; /* Hidden initially */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
}

/* Modal content */
.modal-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
}

/* Menu/Close buttons */
#menu-btn {
	display: block;
}
#close-btn {
	display: none;
}

.player-info {
	height: 100px;
}

.player-icon {
	width: 100px;
	height: 100px;
}

.quiz-btn {
	font-family: 'League Gothic', sans-serif;
	font-size: 1.25rem;
	width: 300px;
}

#question-header {
	font-size: 1.25rem;
}

.quiz-text {
	font-size: 0.8rem;;
	background-color: rgba(0, 0, 0, 0.50);
}

.select-game {
	margin-top: 100px;
}

.genre-btn {
	width: 250px;
	height: 150px;
	border: 1px solid #555555;
	border-radius: 20px;
}

.genre-btn-zombie {
	background-image: url('../images/creatures/zombie_1.webp');
	background-size:contain;
	background-repeat: no-repeat;
  	background-position: center;
}

.genre-select-btn {
	background-color: rgba(0, 0, 0, 0.50);
}

#image-box {
	background-color: rgba(0, 0, 0, 0.50);
	height: 200px;
}
#creature-view {
	width: 100%;
}

.counters {
	position: relative;
	top: -35px;
}

#id_origin, #id_title, #id_director, #id_imdb, #id_option_a, #id_option_b, #id_option_c, #id_answer, #id_question {
	width: 300px;
}

#id_year {
	width: 100px;
}

#id_genre {
	width: 200px;
}

#comment-box {
	width: 250px;
	height: 150px;
	border: 1px solid #555555;
	border-radius: 5px;
	resize: none;
}

textarea:focus {
    outline: none;       /* Removes the default blue/colored outline */
    box-shadow: none;    /* Removes any shadow some browsers add */
}