<div class="modal" id="flag-modal">

    <div class="container modal-content">

        <div class="row mb-4">

            <div class="col-12">

                <h2>FLAG QUESTION</h2>
                
            </div>

        </div>

        <div class="row mb-4">
            <div class="col-12">
                <label for="comment-box">Please state reason:</label>
                <textarea type="text" id="comment-box"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <button class="btn" id="cancel-btn">Cancel</button>
            </div>
            <div class="col-6">
                <button class="btn" id="comment-btn">Submit</button>
            </div>
        </div>

    </div>

</div>