<div class="row quiz-box bottom-half hidden" id="quiz-box">

    <div class="col-12 quiz-text pt-2 text-center">
        <h1 id="question-header">Question</h1>
        <div class="col-12 text-start"><p id="question-text">question text</p></div>
    </div>
    
    <div class="mt-2">
        <div class="col-12 text-center">
            <button class="btn quiz-btn" id="option_a">option_a</button>
        </div>
        <div class="col-12 text-center">
            <button class="btn quiz-btn" id="option_b">option_b</button>
        </div>
        <div class="col-12 text-center">
            <button class="btn quiz-btn" id="option_c">option_c</button>
        </div>

        <div class="col-12 text-end mt-2">
            <button class="btn" id="flag-btn"><i class="fa-solid fa-flag"></i></button>
        </div>
    </div>

</div>