<div class="row select-difficulty flex-column align-items-center justify-content-center text-center mb-5 hidden" id="select-difficulty">
    <div class="col-12 mb-2">
        <h2>SELECT DIFFICULTY</h2>
    </div>

    <div class="col-12">
        <button class="btn main-menu-btn diff-select-btn hidden"data-diff="easy">EASY</button>
        <button class="btn main-menu-btn diff-select-btn"data-diff="normal">NORMAL</button>
        <button class="btn main-menu-btn diff-select-btn hidden" data-diff="hard">HARD</button>
    </div>
        
</div>