{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container game-container">

    <!--VIEW SCREEN -->
    {% include 'components/screen.html' %}
    <!--DIALOGUE BOX -->
    {% include 'components/dialogue-box.html' %}
    <!-- TITLE MENU -->
    {% include 'components/title-menu.html' %}
    <!--LOADING GIF-->
    {% include 'components/loading.html' %}
    <!-- SELECT GAME GENRE -->
    {% include 'components/select-game.html' %}
    <!-- SELECT GAME DIFFICULTY -->
    {% include 'components/select-difficulty.html' %}
    <!-- GAME START -->
    {% include 'components/quiz-box.html' %}
    <!--GAME OVER -->
    {% include 'components/results-box.html' %}
    {% include 'components/counters.html' %}

</div>

{% endblock %}